

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff56ff;
    margin: 0;

}
.image-holder{
    display: block;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}

img {
    height: 500;
    width: 300;

}